:root {
    --navbar-height: 3.5rem;
    --main-color:#FB6467FF;
}

.App {

}

.navbar {
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    width: 100%;
    height: var(--navbar-height);
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 1.2rem;
}

.navbar a {
    text-decoration: none;
    line-height: var(--navbar-height);
    display: inline-block;
    padding: 0 1rem;
    color:inherit;
}

.active {
    color:inherit;
    box-shadow: 0px 8px 0px -7px var(--main-color);
}

.navbar-list {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    justify-content: center;
}

.navbar-list-item a {
    transition: all 0.2s ease;
}

.navbar-list-item:hover a {
    background-color: var(--main-color);
    color: white;
    box-shadow: 0px 15px 10px -15px var(--main-color);
}

main {
    padding-top: calc(var(--navbar-height) + 1rem);
    font-size: 3rem;
    font-weight:300;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.characters {
    font-size: 1.5rem;
}

.char-grid {
    margin-top: 5rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 5rem;
}

.char-icon {
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.char-image {
    height: 250px;
    width: 250px;
    border-radius: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.char-image:hover {
    scale: 1.01;
    transition: all 0.2s ease;
    border-radius: 1rem;
    background-size: cover;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    color:white;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.single-char-card {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-placeholder {
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-placeholder img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/*------------- locations -------------*/
.grid-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.grid-row {
    display:flex;
}

.grid-cell {
    border: 1px solid grey
}

table {
    margin-top: 2rem;
}
table, tr, th, td{
    text-align: left;
    font-size: 1.2rem;
    border: none;
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
    margin:auto;
}

th > span {
    color:lightgray;
    vertical-align: middle;
}

tr {
    cursor: pointer
}
tbody tr:hover {
    background-color: #eee
}